<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Tarea1</title>
    
  </head>
  <body>
    <form action="<%= action %>" method="post">
        <button type="submit" value="users" name="action">usuarios</button>
        <button type="submit" value="cities" name="action">ciudades</button>  
    </form>
  </body>
</html>